

body {
    font-family: Helvetica, Arial, sans-serif;
}

.mainTitle {
  background-image: url('../images/pattern.webp');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Sets the height to full viewport height for demonstration */
}

.heading1 {
  background-image: url('../images/pattern.webp');
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.heading2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.blueText {
  color: blue;
  font-weight: bold;
}